h1.foo{
    text-align: center;
}
p.foo{
    text-align: center;
}
figcaption{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}
.scroll {
    background-color: white;
  position: fixed;
  top: 0;
  width: 100%  
}
main {
    padding-top: 16px;
}
nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}
img.dem {
    display: block;
    float: left;
}
